main.md

Using what you've learnt so far this week, create a webpage that spans the full width and height of a laptop screen to showcase any product of your choice. 
Use a minimum of 2 images of the products attached. Upload your work to GitHub and submit the link of your repository.



